<style>
  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }
  }
</style>

<main class="main">
  <div>
    <div class="pl-32 pt-6 pb-12 bg-amber-50">
      <h1 class="text-2xl font-bold">{{ title }}</h1>
      <p>Log your activities. Know what you've done and what you need to do next.</p>
    </div>
    <nav>
      <div class="mx-auto pr-64 float-right text-xl">
        <div class="flex">
          <div class="p-4 hover:underline">
            <a href="/login">Login</a>
          </div>
          <div class="p-4 hover:underline">
            <a href="/">Infos</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</main>

<div class="pl-32 pt-12">
  <router-outlet />
</div>
