<div>
    <div class="w-sm">
        <div class="grid grid-cols-2 gap-1 p-1">
            <label for="hasen">E-Mail:</label>
            <input class="std-input" id="hasen" type="text" placeholder="your@email.de">
        </div>
        <div class="grid grid-cols-2 gap-1 p-1">
            <label for="password">Password:</label>
            <input class="std-input" id="password" type="password">
        </div>
        <div>
            <button class="btn-primary">Login</button>
        </div>
    </div>
</div>
